.App {
  margin:0;
  padding: 0;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppHeader, .AppContent, .AppFooter {
  box-sizing: border-box;
  padding: 1rem;
  flex: 0;
}

.AppHeader {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #282c34;
  font-size: 1.8rem;
}

.AppContent {
  background-color: #eee;
  color: black;
  flex: 1 0;
}

.AppFooter {
  text-align: center;
  color: white;
}
