.App {
  margin:0;
  padding: 0;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.AppHeader, .AppContent, .AppFooter {
  padding: 1rem;
}

.AppHeader {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #282c34;
  font-size: 1.8rem;
}

.AppContent {
  background-color: white;
  color: black;
}

.AppFooter {
  text-align: center;
  color: white;
}
