body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.post-content {
  white-space: pre-line;
}

.no-arrow::after {
  display:none !important;
}


.icon::before {
  content: '';
  display: inline-block;
  margin-right: .25rem;
  width: 1rem;
  height: 1rem;
  mask-size: 1rem;
  background-color: #6c757d;
}

.icon.likes::before {
  mask-image: url(/thumbup.svg);
}
.icon.comments::before {
  mask-image: url(/comment.svg);
}

button.icon {
  color: #6c757d;
  border:0;
}

button.icon.active {
  color: #28a745;
}

button.icon.active::before {
  background-color: #28a745;
}


button.icon:not(.active):hover {
  cursor: pointer;
  color: #007bff;
}

button.icon:not(.active):hover::before {
  background-color: #007bff;
}
